<ion-view view-title="Datos del envío">
  <ion-content class="padding">

  
    <div class="list"> 
      <label class="item item-input">
        <input ng-model='sumadre.handle' type="text" placeholder="Dirección envío"> 
      </label>
      <label class="item iten-input">
        <p>Dirección: {{sumadre.handle}} </p>
        <button class="button button-dark" ng-click="agregarServicio()">agregar</button>
      </label>  
    </div>  
      
      <ul class="list" class="padding">
        <li class="item" ng-repeat="p in posts"> 
          <strong>Servicio </strong>{{p.trabajo}} 
          <strong>Locación </strong>{{p.locacion}}
        </li>
      </ul>
      

      <a class="button icon ion-home" href="#/tab/home"> Home</a>
      <a class="button icon ion-chevron-left" href="#/tab/facts"> Volver atras</a>
  </ion-content>
</ion-view>