


<ion-tabs class="tabs-icon-top tabs-dark">
   <!-- tab/home servicios -->
  <ion-tab title="Servicios" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <!-- tab/about about -->
  <ion-tab title="Instrucciones" icon="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contacto" icon="ion-ios-world" ui-sref="tabs.contact">
    <ion-nav-view name="contact-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

